html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Font colors: red: #D0021B  Blue: #4A90E2 Gray: #4A4A4A */ 

.container {
	width: 900px;
	padding: 20px;
}

.topsection {
	height: 150px;
}

.redBox {
	background-color: #D0021B;
}

.blueBox {
	background-color: #4A90E2;
}

.graybox {
	background-color: #4A4A4A
}

.paragraphs {
	font-family: arial;
	color: black;
	background-color: white;
}

.words {

}

.thirdSection {
	height: 300px;
	display: flex;
}

.bigRed {
	background-color: #D0021B;
	flex: 3; 
}

.bigBlue {
	background-color: #4A90E2;
	flex: 9;
}

.bottomSection {
	height: 150px;
}

.longBlue {
	background-color: #4A90E2;
}

.redCovered {
	background-color: #D0021B;
	width: 300px;
	margin-left: 600px;
}

.grayTop {
	background-color: #4A4A4A;
	width: 270px;
	margin-left: 615px;
}


