html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Font colors: red: #D0021B  Blue: #4A90E2 Gray: #4A4A4A */ 

.container {
	width: 900px;
	padding: 20px;
}

.topSection {
	height: 150px;
	width: 900px;
	display: inline-block;
	margin-bottom: 20px;
}

.redBox {
	background-color: #D0021B;
	width: 280px;
	height: 150px;
	display: inline-block;
	margin-right: 20px;
}

.blueBox {
	background-color: #4A90E2;
	width: 280px;
	height: 150px;
	display: inline-block;
	margin-right: 20px;
}

.graybox {
	background-color: #4A4A4A;
	width: 280px;
	height: 150px;
	display: inline-block;
}

.paragraphs {
	font-family: Arial ;
	color: black;
	background-color: white;
	font-size: 23px;
	margin-bottom: 20px;
}

.words {
}

.thirdSection {
	height: 300px;
	display: inline-flex;
	flex-direction: row;
	width: 900px;
	border: 1px solid black;
}

.bigRed {
	background-color: #D0021B;
	height: 300px;
	display: inline-flex;
	flex-grow: 3; 
	
}

.bigBlue {
	background-color: #4A90E2;
	height: 300px;
	display: inline-flex;
	flex-grow: 12;
}

.bottomSection {
	height: 150px;
	width: 900px;

}

.longBlue {
	background-color: #4A90E2;
}

.redCovered {
	background-color: #D0021B;
	width: 300px;
	margin-left: 600px;
}

.grayTop {
	background-color: #4A4A4A;
	width: 270px;
	margin-left: 615px;
}


