html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Font colors: red: #D0021B  Blue: #4A90E2 
 light gray: #D8D8D8 dark Gray: #4A4A4A */ 

.container {
	width: 700px;
	font-family: Helvetica;	
}

.headsie {
	background-color: #333333;
	color: white;
	padding: 7px;
	height: 60px;
	width: 686px;
	font-size: 18px;
}

.apple {
	height: 30px;
	float: left;
	margin-left: 30px;	
}

.google {
	height: 30px;
	float: left;
	margin-left: 50px;
}

.middle {
	padding: 20px;
}

.middleSection {
	background-color: white;
	width: 300px;
	padding: 10px;
	float: left;
	color: black;	
}

.header {
	font-size: 36px;
}

.paragraph {
	display: block;
	font-size: 12px;
}

.othermiddle {
	width: 300px;
	padding: 10px;
	float: right;
}

.grayBox {
	background-color: #D8D8D8;
	width: 300px;
	height: 250px;
	float: clear;
	margin-top: 20px;
}


.footsie {
	background-color: #333333;
	padding: 7px;
	height: 60px;
	width: 686px;
	margin-top: 700px;
	
}