html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div {
	float: left;
}

.lside {
	background-color: #4A90E2;
	height: 900px;
	float: left;
	width: 300px;
}

.middle {
	background-color: #50E3C2;
	height: 900px;
	float: left;
	width: 300px;
}

.rside {
	background-color: #B8E986;
	height: 900px;
	float: left;
	width: 300px;
	}

.redBox {
	background-color: #D0021B;
	height: 125px;
	width: 300px;
	color: white;
	font-family: arial;
	font-size: 30px;
	text-align: center;
	padding-top: 75px;
	margin-top: 700px;
	}
