html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.lside {
	background-color: #4A90E2;
	height: 800px;
	float: left;
	width: 400px;
}

.middle {
	background-color: #50E3C2;
	height: 800px;
	float: left;
	width: 400px;
}

.rside {
	background-color: #B8E986;
	height: 600px;
	float: left;
	width: 400px;
}

.redBox {
	background-color: #FF0000;
	float: left;
	float: auto;
	
	height: 200px;
	width: 400px;
	}
