html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container {
	width: 900px;
}

p {
	padding: 20px;
	text-align: left;
	height: 100px;
	margin-left: 20px;
	margin-right: -5px;
	color: #4A4A4A;
	font-family: tahoma;
	font-size: 20px;
}

.graybar {
	background-color: #D8D8D8;
	height: 90px;
	padding: 10px;
}

.bluebox {
	background-color: #4A90E2;
	height: 90px;
	width: 90px;
}	

.whitebar {
	background-color: #FFFFFF;
	height: 200px;
	;
}

.bluebar {
	background-color: #4A90E2;
	height: 120px;
}

.tealbar {
	background-color: #50E3C2;
	height: 125px;
}

.greenbar {
	background-color: #B8E986;
	height: 130px;
}

.yellowbar {
	background-color: #F8E71C;
	height: 135px;
}